/* General container styling */
.speed-slider-container {
  width: 300px;
  border: 1px solid #444;
  border-radius: 10px;
}

.emoji {
  font-size: 24px;
  color: #FF7F7F;
}

/* Slider wrapper styling */
.slider-wrapper {
  position: relative;
  margin-top: 20px;
  background-color: #2C2C2C;
  border-radius: 10px;
  padding: 15px;
  padding-bottom: 30px;
  border: 2px solid #444;
}

/* Input range slider styling */
input[type="range"] {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  height: 5px;
  background: transparent;
  position: relative;
  z-index: 10;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  background: #FF7F7F;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(255, 127, 127, 0.7);
  border: none;
}

input[type="range"]::-moz-range-thumb {
  height: 20px;
  width: 20px;
  background: #FF7F7F;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(255, 127, 127, 0.7);
  border: none;
}

input[type="range"]::-ms-thumb {
  height: 20px;
  width: 20px;
  background: #FF7F7F;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(255, 127, 127, 0.7);
  border: none;
}

/* Background behind the slider thumb */
.slider-background {
  height: 5px;
  background: linear-gradient(to right, #ff0000, #ff4500);
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  transition: left 0.3s ease;
}

/* Speed labels styling */
.speed-labels {
  margin-top: 10px;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.speed-label {
  color: #fff;
  font-size: 14px;
  flex: 1;
  text-align: center;
  z-index: 20;
}

.speed-label:hover {
  cursor: pointer;
  color: #FF7F7F;
  font-weight: bold;
}
